.apresentacao-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 80px;
}

.h1-apresentacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h1-apresentacao h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4a4e5c;
}

.apresentacao-text {
  width: 600px;
  gap: 40px;
}

.apresentacao-text p {
  color: #4a4e5c;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}

/* Define a animação de fade-in com movimento para cima */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Começa 20px abaixo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}

/* Aplica a animação na classe btnApresent */
.btnApresent {
  background-color: transparent;
  padding: 30px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #4a4e5c;
  border: 1px solid #b3b3b3;
  margin-top: 20px;
  cursor: pointer;

  /* Adiciona a animação */
  animation: fadeInUp 0.5s ease-in-out;
}
