* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding-left: 40px;
  padding-right: 40px;
}

.menu-hamburguer {
  cursor: pointer;
  width: 50px;
}

.logo img {
  width: 150px;
}
