.fundo-fixo {
  position: relative;
  background-image: url(../../../assets/FundoFixo/fixo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.fundo-fixo-content {
  text-align: center;
  color: #ffffff;
}

.fundo-fixo-text {
  font-size: 30px;
  font-weight: 300;
}

.btnContato {
  margin-top: 50px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
}
